/* 1st section */
#dwnl1 {
  width: 54%;
  margin: 50px auto;
  text-align: center;
}
#dwnl1 > p:first-child {
  font-size: 40px;
}
#dwnl1 > p:nth-child(2) {
  color: gray;
  font-size: 21px;
}
#dwnl1 > a {
  text-decoration: none;
  color: #54adf5;
  font-size: 18px;
  padding: 7px;
}
#dwnl1 > a:hover {
  text-decoration: underline;
}
#dwnl1 > span {
  color: gray;
  font-size: large;
}
#dwnl1 > div {
  width: 70%;
  margin: auto;
  text-align: center;
}
#dwnl1 > div > button {
  border: 0cm;
  border-radius: 5%;
  color: gray;
  background-color: #e1f5fe;
  padding: 1% 1.5%;
  margin: 6px;
}
#dwnl1 > div > button:hover {
  color: white;
  background-color: #54adf5;
}

/* 2nd section */
#dwnl2 {
  width: 54%;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}
#dwnl2 > img {
  width: 48%;
}
#dwnl2 > div {
  width: 48%;
  padding: 6%;
}
#dwnl2 > div > p:first-child {
  font-size: 36px;
}
#dwnl2 > div > p:nth-child(2) {
  color: grey;
}
#dwnl2 > div > a {
  padding-right: 3%;
  line-height: 45px;
}
a > img:hover {
  transform: scale(1.05);
}
hr {
  margin: auto 22%;
}

@media (max-width: 768px) {
  #dwnl2 {
    display: block;
  }
  #dwnl2 > img {
    width: 100%;
  }
  #dwnl2 > div {
    width: 100%;
    padding: 0;
    text-align: center;
  }
}

/* 5th section */
#dwnl2 > div > p:nth-child(3) {
  color: gray;
  font-size: small;
}
.link1 {
  text-decoration: none;
  color: #54adf5;
  font-size: large;
}

/* 7th section */
#tut3 {
  background-color: #f7fcff;
  padding: 100px 0 150px 0;
  text-align: center;
}
#tut3 > p:first-child {
  font-size: 32px;
}
#tut3 > p:nth-child(2) {
  color: gray;
}
#tut3 > button {
  color: white;
  background-color: #0288d1;
  border: none;
  border-radius: 3%;
  font-size: 17px;
  padding: 20px 50px;
  margin-top: 40px;
}
#tut3 > button:hover {
  background-color: #3f55b2;
}
#tut3 > a {
  color: #0288d1;
  font-size: small;
}
#tut3 > a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  #tut3 {
    padding: 40px 0;
  }
  #tut3 > p:nth-child(2) {
    display: none;
  }
  #tut3 > button {
    margin-top: 0px;
  }
}
